@font-face {
    font-family: charter;
    src: url(../fonts/charter-regular.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter-italic;
    src: url(../fonts/charter-italic.otf);
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter-bold;
    src: url(../fonts/charter-bold.otf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: charter-semibold;
    src: url(../fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: bold;
}
:root {
    --white: white; 
    --mediumwhite: #a5a3a5;
    --darkwhite : #3a3539;

}

body {
    color: var(--white);
    font-family: "nunito", sans-serif;
    background-color: #251F24;
    margin: 0;
}
hr{
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2);
}
.hero{
    background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    height: 350px;
}
a {
    color:var(--white);
}
header {
    font-size: 14px;
    color: var(--white);
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -232px;
    /* background-color: red; */
    inline-size: 188px;

}
header a{
    text-decoration: none;
    color: var(--mediumwhite);
}
header li{
    color: var(--mediumwhite);
    margin-block-end: 16px;
}
nav details summary {
   font-weight: bold;

}
header a:hover {
    color: var(--white);
}
.header{
    position: sticky;
    inset-block-start: -45px;
}
.header-content{
    position: relative;
    inset-block-start: 65px;
}
h1 {
    font-size: 60px;
    margin-block-start: 64px;
    margin-inline-end: 16px;
}
h2 {
    font-size: 2em;
    margin-block: 40px;
}
h3 {
    font-size: 24px;
    font-weight: 600;   
    margin-block: 16px;
}

pre{
    background-color: var(--darkwhite);
    padding: 40px;
    font-family: "nunito", sans-serif;
    overflow: auto;
    border-radius: 8px;
}
p{
    color: var(--mediumwhite);
}
.section-content{
    counter-reset: titleList;
}
.section-content img{
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}
.section-content h3{
    counter-increment: titleList;
}
.section-content h3::before{
content: counter(titleList, decimal) '. ';
}
.section-content li{
    color: var(--mediumwhite);
}
/* .section-content h3::after{
content: '';
width: 32px;
height: 4px;
background-color: var(--darkgrey);
display: inline-block;
} */
blockquote{
    margin-block-start: 80px;
    margin-block-end: 63px;
    background-color: var(--darkwhite);
    border-radius: 8px;
    line-height: 32px;
    font-size: 24px;
    padding-inline: 24px;
    padding-block: 24px;
}
blockquote p{
    color: var(--white);
}
.main hr{
    display: none;
}
.main{
    /* border: 1px solid red; */
}
.wrapper{
    /* border: 1px solid yellow; */
    max-inline-size: 902px;
    margin: auto;
}
.main-content{
    /* border:1px solid greenyellow; */
    padding-inline: 16px;
}

.slider{

}
.slider-container{
    /* block-size: 100px; */
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.video{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-list{
    text-align: center;
    margin-block-start: 16px;
    /* background-color: red; */
}
.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: white;
    border-radius: 50%;
}
.form input{
    inline-size: 100%;
    border: 1px solid var(--mediumwhite);
    box-sizing: border-box;
    background-color: #251f24;
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}
.form input[type="submit"]{
    background-color: #151EFB;
    border: none;
}
.form input::-webkit-input-placeholder{
    color: var(--mediumwhite);
}